.container-fluid {
    padding: 0;
    margin-top: 3rem;
    min-height: 1200px;
    height: 1500px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.side-nav {
    padding: 4rem 0 .5rem 0;
    flex-basis: 20%;
    height: 100%;
    background-color: #212426;
}
.main-view {
    margin-top: 3rem;
    flex-basis: 80%;
    padding: 3rem 8rem;
    overflow: scroll;
}
.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.side-nav li {
    padding: .5rem 0 .5rem 2rem;
    color: #fff;
}
.side-nav li.active {
    background-color: #373737;
    border-right: 6px solid #1fbed5;
}
.side-nav li:hover {
    cursor: pointer;
    background-color: #373737;
}
h2 {font-weight: bold; margin: 0;}
h5 {margin: 0;}
.thumbnail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 1rem;
    border: 4px solid white;
}
.userThumbnail {
    min-width: 100%;
}
.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.dashboard-username {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5rem 1rem;
}
.linkedinBtn {
    background-color: #0077B5;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-top: .5rem;
}
a.linkedinBtn, a.linkedinBtn:hover {color: #fff;}
.dashboard-body {
    padding: 2rem 2rem 8rem 0;
}
.bio {
    white-space: pre-line;
    font-size: 1.1rem;
    padding-right: 35%;
}
.section {
    padding: 1rem 0;
    margin: 1rem 0;
}
.signoutBtn {
    margin-top: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.team-members-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.team-member h5 { text-align: center; font-size: 1rem; padding: 0; }
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 20%;
}
.team-member-thumbnail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: .5rem;
    border: 4px solid white;
}
.hardware-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 250px;
    padding: 1rem;
}
.team-member-thumbnail-wrapper img { min-width: 100%; }
a { color: #000; text-decoration: none; }
a.btn { color: #fff; }
textarea { max-height: 120px; }

@media screen and (max-width: 1200px) {
    .main-view { padding: 2rem; width: 100%; }
    .dashboard-header { align-items: center; }
    .dashboard-username { padding: 0 1rem; }
    .thumbnail-wrapper {
        width: 120px;
        height: 120px;
        margin-right: 0;
    }
    .bio { padding: 0; }
    .team-members-wrapper { justify-content: flex-start; }
    .team-member { flex-basis: 25%; margin-bottom: 1rem; }
    .team-member h5 { padding: 0; font-size: 1rem; }
    .team-member-thumbnail-wrapper { height: 100px; width: 100px; }
    .hardware-wrapper {
        max-height: 300px;
        padding: 1rem;
        font-size: .8rem;
    }
}

@media screen and (max-width: 767px) {
    .container-fluid {
        flex-direction: column;
        height: 1600px;
    }
    .side-nav {
        width: 100%;
        flex-basis: 10%;
    }
    .main-view { padding: 1rem 2rem; }
    .dashboard-header { flex-direction: column; align-items: center; align-self: center; }
    .dashboard-username {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .dashboard-header img { margin: 0; }
    .dashboard-username h5 { font-size: 1.15rem; }
    .dashboard-body { padding: 1rem 0; }
    .signoutBtn { font-size: .8rem; }
    .team-member { flex-basis: 33.3333%; margin-bottom: 1rem; }
    .team-member h5 { padding: 0; font-size: 1rem; }
    .hardware-wrapper {
        max-height: 450px;
        padding: .5rem;
        font-size: .7rem;
    }
    input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width: 380px) {
    .side-nav { padding-top: 3rem; }
    .main-view { padding: .8rem 2rem; }
    .main-view { font-size: .8rem; }
    h2 { font-size: 1.7rem; }
    h3 { font-size: 1.3rem; }
    h5 { font-size: 1rem; }
    p.bio { font-size: .9rem; }
    .dashboard-username { padding: .8rem;}
    .dashboard-username h5 { font-size: 1rem; }
    .team-member { flex-basis: 33.3333%; margin-bottom: 1rem; }
    .team-member h5 { padding: 0; font-size: .7rem; }
    .team-member-thumbnail-wrapper { height: 80px; width: 80px; }
    .hardware-wrapper {
        max-height: 450px;
        padding: .5rem;
        font-size: .7rem;
    }
    input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }
}